# 데이터 로드 및 형태 확인

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('C:/Users/B0113/Desktop/집닥 프로젝트/data/전처리완료/집닥_수락거절회수.xlsx')

In [3]:
data.head()

,견적번호,지역,주소_시군구,수요_배분P전체기준,수락_count,거절_count,회수_count,배분P_1,배분P_1_수요,배분P_2,...,배분P_6,배분P_6_수요,배분P_7,배분P_7_수요,배분P_8,배분P_8_수요,배분P_9,배분P_9_수요,배분P_10,배분P_10_수요
0,200037,경상남도,창원시 성산구,3,3,0,0,501디자인,수락,비율디자인,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200030,서울특별시,강동구,3,3,0,0,장식가,수락,디자인스튜디오산들,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,199988,서울특별시,강서구,1,1,0,0,미래인테리어디자인,수락,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,199970,서울특별시,성북구,2,2,0,0,다린인테리어디자인,수락,리홈디자인갤러리,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,199937,서울특별시,강동구,3,3,0,0,하트하우스,수락,디자인스튜디오산들,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 데이터 melt

In [18]:
m = pd.melt(data, id_vars = ['견적번호','지역','주소_시군구'], 
            value_vars= ['배분P_1_수요', '배분P_2_수요', '배분P_3_수요', '배분P_4_수요', '배분P_5_수요', '배분P_6_수요', '배분P_7_수요', '배분P_8_수요', '배분P_9_수요', '배분P_10_수요'],
           var_name='배분P_수요', value_name='수락거절회수')

In [19]:
m[(m['지역']=='경상남도')&(m['주소_시군구']=='창원시 성산구')]

         견적번호    지역   주소_시군구     배분P_수요 수락거절회수
0      200037  경상남도  창원시 성산구   배분P_1_수요     수락
103    198413  경상남도  창원시 성산구   배분P_1_수요    NaN
125    198092  경상남도  창원시 성산구   배분P_1_수요     수락
159    197651  경상남도  창원시 성산구   배분P_1_수요     수락
173    197450  경상남도  창원시 성산구   배분P_1_수요     수락
...       ...   ...      ...        ...    ...
80362  209493  경상남도  창원시 성산구  배분P_10_수요    NaN
80466  207909  경상남도  창원시 성산구  배분P_10_수요    NaN
80588  206308  경상남도  창원시 성산구  배분P_10_수요    NaN
80718  204665  경상남도  창원시 성산구  배분P_10_수요    NaN
80765  203957  경상남도  창원시 성산구  배분P_10_수요    NaN

[370 rows x 5 columns]

In [20]:
m.shape

(81040, 5)

In [22]:
m.to_csv('C:/Users/B0113/Desktop/집닥 프로젝트/data/전처리완료/집닥_수락거절회수_melt.csv', header=True, index=False)

# 수락거절회수 결측치인 행 삭제

In [30]:
new_m = m[m['수락거절회수'].notnull()].copy()

In [31]:
new_m.shape

(21894, 5)

In [32]:
new_m.to_csv('C:/Users/B0113/Desktop/집닥 프로젝트/data/전처리완료/집닥_수락거절회수_melt.csv', header=True, index=False)